img {
    display: block;
    margin: auto;
    background-color: white;
    border-left:30px solid white;
    border-right:30px solid white;
    border-radius: 5%;
    box-shadow: 7px 8px 15px 0px #888888;
    max-width: 100%;
}

h1 {
    text-align: center;
}
div#woodStain {
    font-weight: bold;
    color:white;
    background-color: rgba(180, 110, 34, 0.55); 
    border-radius: 10px;
    padding:5%;
}

.beerList{
  font-size: 18px;
}