@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

h3,p {
   color: white;
    text-align: center;
    padding: 0% 10% 0% 10%;
}

/*Panel CSS*/
#beerPanel{
  padding: 0% 5% 0% 5%;
  color:black;

}
body > div.container-fluid > div > div.panel-body > div > img {
  padding: 0% 9% 0% 9%;
}
body > div.container-fluid > div > div.panel-body > div > div > textarea {
  width: 95%;
  background-color:#f5f5f5;
  border: 1px solid #f5f5f5;
}
div.panel-body {
    background-color:#222222;
  }
body > div.container-fluid > div > div.panel-heading{
    background-color:#9d9d9d; 
  }
div.panel-heading.ng-binding {
    background-color:#9d9d9d; 
  }
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #f9b813;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #f9b813;  } 

#logout {
    float: bottom;
    padding-bottom: 10%;
}
 /* Footer */
#footerDash {
  text-align: center;
  color: #9d9d9d;
	background-color:#222222 ;
	width:100%;
	height:60px;
  float: bottom;
	position:static;
	bottom:0;
	left:0;
  right:0;
}
