

<!--returns multiple beers if there are several which share the same name, need to delete the angular route from taking :beer parameter for this to work-->
<!--<div class="container-fluid" id="beerPanel" ng-model="beer.beerData">
  <div ng-repeat="beer in beer.beerData">
    <div class="panel panel-default" class="button" ng-click="beerDesc= !beerDesc">
		

       	<div class="panel-heading">
          {{ beer.name }}
        </div>

        <div class="panel-body">
        	<div class="well" ng-show="beerDesc">{{beer.description}}
        	<a href="#/beerDesc/{{beer[$index].name}}" type="link">Further Information</a></div>

        	<img ng-src="{{ beer.labels.medium }}"
        	ng-hide="beerDesc" >
        </div>

        <div class="panel-footer">
        {{ beer.breweries[0].name }}   abv: {{beer.abv}}%</div>
      </div>
      </div>
  </div>-->



  <div class="container-fluid" id="beerPanel" ng-model="beer.beerData">
    <div class="panel panel-default" class="button">
		

       	<div class="panel-heading">
          {{ beer.beerData.name }} 
          <button type="button" class="btn btn-success btn-circle glyphicon glyphicon-plus"></button></div>
        

        <div class="panel-body" ng-click="beerDesc= !beerDesc">
        	<div class="well" ng-show="beerDesc">{{beer.beerData.description}}
        	<a href="#/beerDesc/{{beer.beerData.breweries[0].nameShortDisplay}}/{{beer.beerData.name}}" type="link">Further Information</a></div>

        	<img ng-src="{{ beer.beerData.labels.medium}}" 
        	ng-hide="beerDesc" >
        </div>

        <div class="panel-footer">
        {{ beer.beerData.breweries[0].name }}   abv: {{beer.beerData.abv}}%</div>
      
      </div>
  </div>