
<link rel="stylesheet" type="text/css" href="/css/breweryAll.css">

<div class="container-fluid" id="breweryPanels" ng-model="beer.beerName.breweries[0].id">
  <div id="woodStain">
  <img ng-src="{{beer.beerData.breweries[0].images.squareMedium}}"><br>
  <h1>{{beer.beerData.breweries[0].name}} Beer List:</h1>
        <ul>
           <ul>
              <li class="beerList" ng-repeat="oneBeer in beer.brewerData" ng-model="beer.beerBrewerData[oneBeer.name]">
                <a type="link" href="#/beerPanel2/{{oneBeer.breweries[0].nameShortDisplay}}/{{ oneBeer.name}}" ng-click="beer.searchList(oneBeer)">
                  <font color="white">{{oneBeer.name}}</font>
                </a>
              </li>
           </ul>
        </ul>
</div>
</div>

